@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Grotesk:wght@600&display=swap);

/* GRAPHIC CHART */

/*  font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
*/

/*  black #100f0f
    white #efefef
    green #1fc36c
*/

/* RULES */

* {
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 20px;
  border-bottom: solid 1px #1fc36c;
  margin-bottom: 30px;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

div .container {
  margin-top:50px;
  max-width: 750px;
}

h3 {
  text-align: center;
  height: 100px;
}

a {
  text-decoration: none;  
  color: #efefef;
}

.icon {
  height: 30px;

}

.fa {
  font-size: 1.8rem;  
  color: #efefef;
}

button {
   background-color: #1fc36c;
}

/* MEDIA QUERIES */

@media screen and (min-width: 750px) {
  body {
    background-image: url(../img/bg-img.jpg);
    background-position: center;
    background-size: auto;
  }
  .container {
  background-color: rgba(0, 0, 0, 0.945);
  height: 850px;
  margin-top: 30px;
  border-radius: 15px;
  }
}